<template name="homePage">
  <div id="home-page" class="page">
    <div class="container-fluid">
      <div class="row">
        <div class="row-same-height">
          <div class="col-sm-3 col-sm-height col-middle">
            <div class="thumbnail">
              <img src="/images/sale-icon.png"/>
            </div>
          </div>
          <div class="col-sm-4 col-sm-height col-middle">
            <h1 class="text-left">DappList</h1>
            <h2>Mailing list for developers on Ethereum</h2>
          </div>

          <div class="col-sm-4 col-sm-height col-middle">
            {{#if $.Session.get "showVerifiedFeedback" }}
              <p>
                Congratulations! You have joined DappList. Get involved by sending your first email to <a href="mailto:members@dapplist.net">members@dapplist.net</a>
              </p>
            {{else}}
              {{> signupForm}}
            {{/if}}
          </div>
          <div class="col-sm-1 col-sm-height col-middle">
          </div>
        </div>
      </div>
    </div>
  </div>

  {{> termsModal}}
</template>

