<template name="signupForm">
  <h2>Join us</h2>
  
  {{# autoForm schema="SignupSchema" id="signupForm" type="method" methodname="signup" validation="submit"}}
    {{> afQuickField name="email"  placeholder="Your email address" label=null}}
    {{> afQuickField name="skillLevel"  options="allowed" firstOption="Your skill level"}}

    <div class="form-group {{#if afFieldIsInvalid name='acceptedTerms'}} has-error{{/if}}">

      <div class="row">
        <div class="col-xs-6">
          {{> afFieldInput name="acceptedTerms" }}
        </div>
        <div class="col-xs-6">
          <button type="submit" class="btn btn-primary btn-block">Done</button>
        </div>
      </div>

    </div>
  {{/autoForm}}
</template>
