<template name="termsModal">
  <div id="terms-modal" class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Terms & Conditions</h4>
        </div>
        <div class="modal-body">
          <p>
            By subscribing, you agree to let us use the data you provided to send you information that we think will be interesting or useful to you. You can unsubscribe at any time and we'll make sure there's a valid unsubscribe link in everything we send by mass mail.
          </p>
          <p>
            You agree to let us send personal one-to-one communications to you. Examples of this may include sending you mail address verification messages, and replying to queries sent from your mail address.
          </p>
          <p>
            Ethereum Developer’s Mailing List Policies:
          </p>
          <p>
            We hate spam. Unless you authorize it or we're compelled by law, we won't share your mail address with anyone else, ever.
          </p>
          <p>
            We value your information. We'll keep it as secure as we can.
          </p>
          <p>
            We will send mail at reasonable intervals, which is at most a few times a month and definitely not once a day.
          </p>
          <p>
            We'll do our best to meet all applicable privacy, spam, and other relevant rules and regulations. If you think we've failed to do that, please contact us so we can investigate and correct as required.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>


