@import "lib/colors";

#dapplist, .modal{
  font-family: 'Roboto-Medium', sans-serif;
}
body{
  background-color: @bg-tomato;
  #dapplist{
    color: @text-dark;
  }
}
#dapplist{
  .page{
    background-color: #fff;
  }
  p, input, select{
    color: @text-dark;
  }
  h1,  h2, h3, h4, a{
    color: @bg-tomato;
    font-weight: bold;
  }
  .btn-primary{
    background-color: @bg-tomato;
    border-color: @bg-tomato;
    &:hover{
      background-color: @bg-dark;
      border-color: @bg-dark;
    }
  }
  .btn{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2pt;
  }
  .has-error{
    .control-label{
      color: inherit;
    }
    .help-block{
      color: @bg-tomato;
    }
  } 
}